<!DOCTYPE html>
<html lang="en" class="no-js" style="height:100%;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Flamingo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nanoscroller.min.js"></script>
    <script src="js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="js/wow/wow.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/styles.css" rel="stylesheet" type="text/css" />
    <link href="css/font-face.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrapValidator.min.css" rel="stylesheet" type="text/css" />
    <link href="css/toastr.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/animate.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link href="js/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/all-animation.css" />

    <script type="text/javascript" src="js/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700&display=swap&subset=vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap&subset=vietnamese" rel="stylesheet">
    <script type="text/javascript" src="jwplayer/jwplayer.js"></script>
    <script type="text/javascript">
        jwplayer.key = "XumejFo+svwQswRJ3Mi++itror5V6+6q+6I7MQ==";
    </script>
    <script type="text/javascript">
        var primaryCookie = 'html5';
        var skinURL = "/jwplayer/skins/five/five.xml";
        var cookies = document.cookie.split(";");
        for (i = 0; i < cookies.length; i++) {
            var x = cookies[i].substr(0, cookies[i].indexOf("="));
            var y = cookies[i].substr(cookies[i].indexOf("=") + 1);
            x = x.replace(/^\s+|\s+$/g, "");
            if (x == 'primaryCookie') {
                primaryCookie = y;
            } else if (x == 'skinURL') {
                skinURL = y;
            }
        }
    </script>

</head>

<body>
    <div id="container">
        <div id="header">
            <div class="affix" data-spy="affix" data-offset-top="79" id="">
            	<div class="container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
                    <a href="" class="navbar-brand"><img src="img/logo.png"></a>
                    
                    <nav class="navbar-collapse collapse" role="navigation">
                        <ul class="nav navbar-nav">
                            <li class=""><a data-scroll="" data-options="easing: easeInQuad" href="#section2" class="navbar1">Giới thiệu</a></li>
                            <li class=""><a data-scroll="" data-options="easing: easeInQuad" href="#section3" class="navbar1">Không gian</a></li>
                            <li class=""><a data-scroll="" data-options="easing: easeInQuad" href="#section5" class="navbar1">Nấu ăn</a></li>
                            <li class=""><a data-scroll="" data-options="easing: easeInQuad" href="#section5" class="navbar1">Dịch vụ</a></li>
                            <li class=""><a data-scroll="" data-options="easing: easeInQuad" href="#section6" class="navbar1">Resort</a></li>
                            <li class=""><a data-scroll="" data-options="easing: easeInQuad" href="#section7" class="navbar1">Điểm nhấn</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div class="section" id="section1">
        	<div class="inner">
                <div class="container st-banner">
                    <img src="img/slide1.jpg">
                </div>
            </div>
            <div class="text-center">
                <div class="f-bac-b">FLAMINGO WEDDING</div>
                <div class="f-aqua">Thiên đường tiệc cưới đáng giá nhất Châu Á</div>
                <div><strong class="price">Chỉ từ 790.000 VNĐ++/khách</strong></div>
                <div class="flash-bang text-center">
                	<img src="img/down.gif"><br/>
                	Tìm hiểu thêm
                </div>
            </div>
        </div>
        <div class="st-banner wow fadeInUp"><img src="img/width-1.jpg"></div>
        <div class="section wow fadeInUp" id="section2">
            <div class="container text-center">
                <div class="st-hd">
                    <div><img src="img/tl2.jpg"></div>
                    <p>Tay nắm chặt tay và đôi chân cùng sánh bước - bạn đã sẵn sàng thả hồn cho tình yêu dẫn lối tại thiên đường tiệc cưới đáng giá nhất kề bên Hà Nội? 
Chẳng cần suy nghĩ, chẳng chút lo âu, trải nghiệm ngày chung đôi giữa non thanh thủy tú tại Flamingo Đại Lải Resort với không gian ấn tượng và dịch vụ đẳng cấp để đắm chìm trong hạnh phúc đong đầy!</p>
                </div>
                <div class="row f-bac-b">
                	<div class="col-md-3 col-sm-6">
                    	<div><img src="img/cx1.jpg"></div>
                        <h2>25 Không gian ấn tượng</h2>
                    </div>
                    <div class="col-md-3 col-sm-6">
                    	<div><img src="img/cx2.jpg"></div>
                        <h2>10 Điểm nhấn décor </h2>
                    </div>
                    <div class="col-md-3 col-sm-6">
                    	<div><img src="img/cx3.jpg"></div>
                        <h2>8 Menu tiệc cưới</h2>
                    </div>
                    <div class="col-md-3 col-sm-6">
                    	<div><img src="img/cx4.jpg"></div>
                        <h2>6 Quà tặng & ưu đãi</h2>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="section wow fadeInUp" id="section3">
        	<div id="st3-top">
            	<div class="container">
                	<div class="row">
                        <div class="col-sm-6">
                            <div class="st-hd">
                                <div><img src="img/tl3.jpg"></div>
                                <p>Đắm say ngày hạnh phúc trong không gian lãng mạn đậm chất thơ của Flamingo Đại Lải Resort với 25 lựa chọn địa điểm tổ chức tiệc cưới sang trọng giữa thiên nhiên, đa dạng về sức chứa và phong cách.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 pic"><img src="img/kg1.jpg"></div>
                    </div>
                </div>
            </div>
            <div class="container text-center">
                <div class="owl-carousel owl-carousel-kg">
                    <div class="item">
                        <div class="thumb">
                            <img src="img/kg_sl1.jpg">
                        </div>
                        <div class="text">
                        	<h2>Khu bãi biển The Beach</h2>
                            <p>Phóng khoáng, hiện đại, thơ mộng</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="img/kg_sl2.jpg">
                        </div>
                        <div class="text">
                        	<h2>Sky Bar & Restaurant</h2>
                            <p>Bồng bềnh giữa những tầng mây</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="img/kg_sl3.jpg">
                        </div>
                        <div class="text">
                        	<h2>Sky Park</h2>
                            <p>Vườn địa đàng trên cao độc đáo</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="img/kg_sl4.jpg">
                        </div>
                        <div class="text">
                        	<h2>Nhà hàng Bamboo Wings</h2>
                            <p>Không gian giàu bản sắc Việt Nam</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="img/kg_sl5.jpg">
                        </div>
                        <div class="text">
                        	<h2>Con đường Thơ</h2>
                            <p>Lãng mạn, diễm tình, nên thơ</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="img/kg_sl6.jpg">
                        </div>
                        <div class="text">
                        	<h2>Rừng thông Art in the Forest</h2>
                            <p>Mộc mạc nhưng đậm chất nghệ thuật</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="img/kg_sl7.jpg">
                        </div>
                        <div class="text">
                        	<h2>Dinh thự Legend Mansion</h2>
                            <p>Dấu ấn quý tộc, đẳng cấp thượng lưu</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="img/kg_sl8.jpg">
                        </div>
                        <div class="text">
                        	<h2>Biệt thự Royal Villa</h2>
                            <p>Nét sang trọng trên Bán đảo Hoa hồng</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="img/kg_sl9.jpg">
                        </div>
                        <div class="text">
                        	<h2>Biệt thự Luxury Skylake Villa</h2>
                            <p>Khung cảnh hữu tình, giao hòa trời – nước</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="img/kg_sl10.jpg">
                        </div>
                        <div class="text">
                        	<h2>Không gian sân vườn tại biệt thự riêng tư</h2>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="st-banner wow fadeInUp"><img src="img/width-2.jpg"></div>
        <div class="section wow fadeInUp" id="section4">
        	<div id="st4-top">
            	<div class="container">
                	<div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <div class="st-hd">
                                <div><img src="img/tl4.jpg"></div>
                                <p>Nâng tầm khung cảnh kiều diễm của thiên nhiên với gu thiết kế tinh tế và phong cách bài trí sang trọng cho tiệc cưới hoàn hảo đến từng chi tiết.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 pic  col-sm-pull-6"><img src="img/tn.jpg"></div>
                    </div>
                </div>
            </div>
            <div class="container text-center">
                <div class="owl-carousel owl-carousel-tn">
                    <div class="item">
                        <div class="thumb">
                            <img src="img/tn-sl1.jpg">
                        </div>
                        <div class="text">
                        	<h2>Backrop tiệc cưới thiết kế riêng </h2>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="img/tn-sl2.jpg">
                        </div>
                        <div class="text">
                        	<h2>Cổng chào hoa lụa</h2>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="img/tn-sl4.jpg">
                           
                        </div>
                        <div class="text">
                        	<h2>Hoa tươi trang trí trên bàn tiệc</h2>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="img/tn-sl3.jpg">
                        </div>
                        <div class="text">
                        	<h2>Bánh cưới trang trí hoa tươi</h2>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="img/tn-sl5.jpg">
                        </div>
                        <div class="text">
                        	<h2>Không gian chụp ảnh cưới</h2>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="img/tn-sl6.jpg">
                        </div>
                        <div class="text">
                        	<h2>Bàn reception đón khách</h2>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="img/tn-sl7.jpg">
                        </div>
                        <div class="text">
                        	<h2>Khung ảnh cưới đặt bàn</h2>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="img/tn-sl8.jpg">
                        </div>
                        <div class="text">
                        	<h2>Bàn tiệc trang trí đặc biệt cho gia đình </h2>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="img/tn-sl9.jpg">
                        </div>
                        <div class="text">
                        	<h2>Pháo trang kim</h2>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="img/tn-sl10.jpg">
                        </div>
                        <div class="text">
                        	<h2>Hệ thống âm thanh - ánh sáng tiêu chuẩn</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section wow fadeInUp" id="section5">
            <div class="container">
            	<div class="row">
                	<div class="col-sm-6">
                    	<div class="st-hd">
                            <div class="text-center"><img src="img/tl5.jpg"></div>
                            <p>Tận hưởng tinh hoa ẩm thực cưới tại Flamingo Đại Lải Resort với đa dạng các món ăn đặc sắc mang phong vị Đông – Tây cho ngày cưới thêm phần ấn tượng.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                    	<div class="item">
                        	<div><img src="img/th1.jpg"></div>
                            <div class="text">
                            	<h2>MENU TIỆC CƯỚI </h2>
                                <p>6 lựa chọn set menu - 2 thực đơn buffet quốc tế</p>
                            </div>
                        </div>
                        <div class="item">
                        	<div><img src="img/th2.jpg"></div>
                            <div class="text">
                            	<h2>Ưu đãi đồ uống </h2>
                                <p>Free flow – từ <strong>126.000 VNĐ++/người/giờ</strong>. Giảm đến <strong>15%</strong> đồ uống gọi riêng</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="st-banner wow fadeInUp"><img src="img/width-3.jpg"></div>
        <div class="section wow fadeInUp" id="section6">
        	<div class="container">
                <div class="row">
                    <div class="col-sm-6"><img src="img/qt1.jpg"></div>
                    <div class="col-sm-6">
                        <div class="st-hd">
                            <div class="text-center"><img src="img/tl6.jpg"></div>
                            <p>Khởi đầu cho “Hạnh phúc mãi mãi về sau” với những món quà tân hôn đặc biệt dành riêng cho cặp uyên ương ngày cưới.</p>
                        </div>
                        <div class="row">
                        	<div class="col-sm-6"><img src="img/qt2.jpg"></div>
                            <div class="col-sm-6">
                            	<ul>
                                	<li>Phòng nghỉ đêm tân hôn</li>
                                    <li>Bữa sáng buffet quốc tế</li>
                                    <li>Bữa tối tân hôn lãng mạn </li>
                                    <li>Voucher kỷ niệm 1 năm ngày cưới</li>
                                </ul>
                            </div>
                            <div class="col-sm-12"></div>
                            <div class="col-sm-6 col-sm-push-6"><img src="img/qt3.jpg"></div>
                            <div class="col-sm-6  col-sm-pull-6 text-center">
                            	<h3 class="text-uppercase f-bac-b">Đặc biệt:</h3>
                                <p>Ưu đãi đến 20% giá phòng nghỉ cho người thân</p>
                                <p>Ưu đãi đến 25% các dịch vụ tại SEVA Spa & Beauty Destination</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="section wow fadeInUp" id="section7">
            <div class="container">
            	<div class="st-hd text-center">
                    <div class=""><img src="img/tl7.jpg"></div>
                </div>
                <div style="margin-bottom:30px;">
                    <div class="player text-center" id="VdoPlayr" style="text-align:center;"></div>
                    <script type='text/javascript'>
                        jwplayer('VdoPlayr').setup({
                            autostart: false,
                            file: 'https://youtu.be/dBMINMSQE1Q',
                            width: '100%',
                            aspectratio: '16:9',
                            controls: true,
                            skin: 'seven',
                            mute: false,
                            primary: 'html5'
                        });
                    </script>
                </div>
                <div class="owl-carousel owl-carousel-tv">
                    <div class="item"><img src="img/tv1.jpg"></div>
                    <div class="item"><img src="img/tv2.jpg"></div>
                    <div class="item"><img src="img/tv3.jpg"></div>
                    <div class="item"><img src="img/tv4.jpg"></div>
                </div>
            </div>
        </div>
        <div class="section wow fadeInUp" id="section8">
            <div class="container">
            	<div class="st-hd text-center">
                    <div class=""><img src="img/tl8.jpg"></div>
                    <div class="f-aqua">Hiện thực hóa tiệc cưới trong mơ tại Thiên đường tiệc cưới đáng giá nhất Châu Á</div>
                </div>
                <div style="overflow:auto; max-width:100%">
                    <table border="0" cellspacing="0" cellpadding="0" class="table text-center">
                      <thead>
                          <tr>
                          <th>&nbsp;</th>
                          <td><strong>ELEGANT<br/>Wedding Package</strong></td>
                          <td><strong>SENSATIONAL<br/>Wedding Package</strong></td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th>&nbsp;</th>
                          <td class="text-uppercase"><strong>790.000 VNĐ++/khách<br/>Từ 160 khách</strong></td>
                          <td class="text-uppercase"><strong>1.099.000 VNĐ++/khách<br/>Từ 120 khách</strong></td>
                        </tr>
                        <tr>
                          <th>Backdrop tiệc cưới thiết kế riêng</th>
                          <td><img src="img/ic_check.png"></td>
                          <td><img src="img/ic_check.png"></td>
                        </tr>
                        <tr>
                          <th>Cổng chào hoa lụa</th>
                          <td><img src="img/ic_check.png"></td>
                          <td><img src="img/ic_check.png"></td>
                        </tr>
                        <tr>
                          <th>Hoa tươi trang trí trên bàn tiệc</th>
                          <td><img src="img/ic_check.png"></td>
                          <td><img src="img/ic_check.png"></td>
                        </tr>
                        <tr>
                          <th>Bánh cưới trang trí hoa tươi</th>
                          <td><img src="img/ic_check.png"></td>
                          <td><img src="img/ic_check.png"></td>
                        </tr>
                        <tr>
                          <th>Không gian chụp ảnh cưới</th>
                          <td><img src="img/ic_check.png"></td>
                          <td><img src="img/ic_check.png"></td>
                        </tr>
                        <tr>
                          <th>Bàn reception đón khách</th>
                          <td><img src="img/ic_check.png"></td>
                          <td><img src="img/ic_check.png"></td>
                        </tr>
                        <tr>
                          <th>Khung ảnh cưới đặt bàn</th>
                          <td><img src="img/ic_check.png"></td>
                          <td><img src="img/ic_check.png"></td>
                        </tr>
                        <tr>
                          <th>Bàn tiệc trang trí đặc biệt cho gia đình</th>
                          <td><img src="img/ic_check.png"></td>
                          <td><img src="img/ic_check.png"></td>
                        </tr>
                        <tr>
                          <th>Pháo trang kim</th>
                          <td><img src="img/ic_check.png"></td>
                          <td><img src="img/ic_check.png"></td>
                        </tr>
                        <tr>
                          <th>Hệ thống âm thanh – ánh sáng tiêu chuẩn</th>
                          <td><img src="img/ic_check.png"></td>
                          <td><img src="img/ic_check.png"></td>
                        </tr>
                        <tr>
                          <th>Menu tiệc cưới tùy chọn</th>
                          <td><img src="img/ic_check.png"></td>
                          <td><img src="img/ic_check.png"></td>
                        </tr>
                        <tr>
                          <th>Voucher kỷ niệm 1 năm ngày cưới</th>
                          <td><img src="img/ic_check.png"></td>
                          <td><img src="img/ic_check.png"></td>
                        </tr>
                        <tr>
                          <th>Phòng nghỉ đêm tân hôn </th>
                          <td>&nbsp;</td>
                          <td><img src="img/ic_check.png"></td>
                        </tr>
                        <tr>
                          <th>Bữa sáng buffet quốc tế tại nhà hàng</th>
                          <td>&nbsp;</td>
                          <td><img src="img/ic_check.png"></td>
                        </tr>
                        <tr>
                          <th>Bữa tối lãng mạn tại phòng </th>
                          <td>&nbsp;</td>
                          <td><img src="img/ic_check.png"></td>
                        </tr>
                        <tr>
                          <th>Ưu đãi đồ uống</th>
                          <td><strong>10%</strong></td>
                          <td><strong>15%</strong></td>
                        </tr>
                        <tr>
                          <th>Ưu đãi giá phòng cho người thân</th>
                          <td><strong>15%</strong></td>
                          <td><strong>20%</strong></td>
                        </tr>
                        <tr>
                          <th>Ưu đãi SEVA Spa & Beauty Destination</th>
                          <td><strong>20%</strong></td>
                          <td><strong>25%</strong></td>
                        </tr>
                      </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="section" id="section9">
        	<div class="container">
                <div class="row">
                    <div class="col-sm-6">
                    	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3716.283668422228!2d105.71518801547359!3d21.33930338583097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3134e3a73fad3067%3A0xfc196db362878659!2zRmxhbWluZ28gxJDhuqFpIEzhuqNpIFJlc29ydA!5e0!3m2!1svi!2s!4v1572851130499!5m2!1svi!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                    <div class="col-sm-6">
                        <div class="st-hd text-center">
                            <h3 class="f-bac-b text-uppercase">ĐĂNG KÝ nhận tư vấn</h3>
                        </div>
                        <form id="frmRegDownload" autocomplete="off" novalidate class="bv-form"><button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                            <div id="frmContentReg">
                                <div class="form-group has-feedback"><input type="text" class="form-control" name="name" id="txtName" value="" placeholder="Họ và tên" data-bv-field="name"><i style="display: none;" class="form-control-feedback bv-no-label" data-bv-icon-for="name"></i><small style="display: none;" class="help-block" data-bv-validator="notEmpty" data-bv-for="name" data-bv-result="NOT_VALIDATED">Họ tên không được để trống.</small></div>
                                <div class="form-group has-feedback"><input type="text" class="form-control" name="phone" id="txtPhone" placeholder="Số điện thoại" data-bv-field="phone"><i style="display: none;" class="form-control-feedback bv-no-label" data-bv-icon-for="phone"></i><small style="display: none;" class="help-block" data-bv-validator="notEmpty" data-bv-for="phone" data-bv-result="NOT_VALIDATED">Điện thoại không được để trống.</small><small style="display: none;" class="help-block" data-bv-validator="stringLength" data-bv-for="phone" data-bv-result="NOT_VALIDATED">Số điện thoại chỉ có thể là 10 hoặc 11 số.</small></div>
                                <div class="form-group has-feedback"><input type="text" class="form-control" name="email" id="txtEmail" placeholder="Email" data-bv-field="email"><i style="display: none;" class="form-control-feedback bv-no-label" data-bv-icon-for="email"></i><small style="display: none;" class="help-block" data-bv-validator="notEmpty" data-bv-for="email" data-bv-result="NOT_VALIDATED">Địa chỉ email không được để trống.</small><small style="display: none;" class="help-block" data-bv-validator="emailAddress" data-bv-for="email" data-bv-result="NOT_VALIDATED">Không đúng định dạng email</small></div>
                                <div class="form-group text-center"><button class="btn btn-register btn-lg">Gửi thông tin</button>
                                </div>
                            </div>
                            <div id="content-download"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer" class="">
            <div class="container text-center">
            	<div><img src="img/logo-ft.jpg"></div>
                <address>
                <p>Ngọc Thanh, Phúc Yên, Vĩnh Phúc</p>
                <p>Hotline: 098 600 9393     Email: sales@flamingogroup.vn</p>
                <p>Website: resort.flamingogroup.vn</p>
                </address>
                <div class="social">
                    <a href="https://www.facebook.com/flamingodailairesort/" target="_blank"><img src="img/ic_fb.jpg"></a>
                    <a href="https://www.youtube.com/channel/UCstYDxvooVneCS41KPb_V0A" target="_blank"><img src="img/ic_yt.jpg"></a>
                    <a href="https://www.instagram.com/flamingodailairesort/" target="_blank"><img src="img/ic_ins.jpg"></a>
                </div>
            </div>
        </div>
        <div style="position:fixed;bottom:10px;right:10px;">
            <a data-scroll="" data-options="easing: easeInQuad" href="#section8">
                <img src="img/btn_datmua.png" />
            </a>
        </div>
        <div style="position:fixed;top:50%;right:5px; margin-top:-46px">
        	<div style="margin:5px 0"><a href="tel:0986009393"><img src="img/hotline.png" width="36px"></a></div>
            <div style="margin:5px 0"><a href="http://m.me/flamingodailairesort"><img src="img/mess.png" width="36px"></a></div>
        </div>
    <!---->
    <script src="js/smooth-scroll.js"></script>
    <script type="text/javascript" src="js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="js/form-validation.js"></script>
    <script type="text/javascript" src="js/toastr.js"></script>
    <script>
        $(document).ready(function() {
            $('#txtDate').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                autoclose: true,
                todayHighlight: true,
                language: 'vi'
            }).on('changeDate', function(e) {});
        });
        new WOW().init();

        function AllowNumberOnly(evt) {
            evt = (evt) ? evt : event;
            var charCode = (evt.charCode) ? evt.charCode : ((evt.keyCode) ? evt.keyCode : ((evt.which) ? evt.which : 0));
            if ((charCode > 31) && (charCode < 48 || charCode > 57) && charCode != 8 && charCode != 37 && charCode != 39 && charCode != 45 && charCode != 46) {
                return false;
            }
            return true;
        }
        smoothScroll.init({
            speed: 1000,
            easing: 'easeInOutCubic',
            offset: 130,
            updateURL: false,
            callbackBefore: function(toggle, navbar1) {},
            callbackAfter: function(toggle, navbar1) {}
        });
        $("button").click(function() {
            $(".navbar-toggle").toggleClass("close");
        });

        $(".navbar-toggle").click(function() {
            $("#header").toggleClass("open");
        });

        $(".navbar-nav a").click(function() {
            $(".navbar-collapse").removeClass("in");

            $(".navbar-toggle").removeClass("close");
        });
    </script>
    <script>
        $('.owl-carousel-kg').owlCarousel({
            loop: true,
            margin: 10,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                768: {
                    items: 2,
                    nav: true
                },
                1000: {
                    items: 3,
                    nav: true,
                    loop: true,
                    margin: 30,
                }
            }
        })
		$('.owl-carousel-tn').owlCarousel({
            loop: true,
            margin: 10,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                768: {
                    items: 2,
                    nav: true
                },
                1000: {
                    items: 3,
                    nav: true,
                    loop: true,
                    margin: 30,
                }
            }
        })
		$('.owl-carousel-tv').owlCarousel({
            loop: true,
            margin: 10,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                768: {
                    items: 2,
                    nav: true
                },
                1000: {
                    items: 4,
                    nav: true,
                    loop: true,
                    margin: 30,
                }
            }
        })
    </script>

</body>

</html>