@media (max-width: 1199px) {
    .container {
        width: 100% !important;
        max-width: 100% !important;
    }
    
}

@media (max-width: 992px) {
    .navbar-brand img{
        height: 36px;
    }
    .st2-bt .bg{
        margin-right: 0rem;
    }
    #section2 {
        margin-top: 0rem;
    }
    
    #section2 .container::after{
        right: auto;
        left: 0;
        transform: rotate(0deg);
    }
    #section3 .list-group-flush{
        margin: 0 1.5rem;
    }

   
    
}

@media (max-width: 768px) {
    #section3 .st-tl, #section4 .st-tl{
        height: 60px;
        overflow: hidden;
    }
    #section3 .st-tl::before, #section4 .st-tl::before{
        font-size: 1.5em;
    }
    .st2-bt .box{
        display: block !important;
    }
    .st2-bt .box .icon{
        margin-bottom: 1rem;
    }
    #navbarNav .nav{
        flex-direction: column;
    }
    
    

}
@media (max-width: 578px) {
    
    
   
	
	
}
@media (min-width: 1199px) {
   
   
}
@media (min-width: 992px){
    
}
@media (min-width: 768px){
    
}
