a:link,
a:visited {
    text-decoration:none;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
}	

body{
	color:#fff;
	font-size:16px;
	background:#000;
	background-attachment:fixed;
	font-family: 'UTMAvo';
	}
	
a{
	color:#3fb0ae;
	}
a:hover, a:link, a:visited{
	color:#2a8e8c;
	}
#scroll-fix-top{
    width: 100%;
}

#scroll-fix-top.fixed {
    opacity: 0.95;
}

.circle{
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
	}

.fa-2 {
    font-size: 1.5em;
}
.fa-3 {
    font-size: 4em;
}
.fa-4 {
    font-size: 7em;
}
ul.reset, ol.reset{
	margin:0;
	padding:0;
	}
.navbar-toggle{
	position:absolute;
	top:10px; right:10px;
	margin:0;
	padding:0;
	width:40px;
	height:40px;
	background:url(../img/bar.png) no-repeat 50% 50%;
	}
.navbar-toggle.close{
	background:url(../img/cancel.png) no-repeat 50% 50%;
	}
.btn-submit{
	text-transform:uppercase;
	padding:10px 15px;
	color:#fff;
	background: #872b1c;
	}
.btn-submit:hover{
	color:#fff;
	background: #d94700;
	}
strong, b{
	}
a, .btn, button{
	outline:none;
	}
.modal-header{
	position:relative}
.modal-header .close{
	background:#E81619 url(../img/cancel.png) no-repeat 50% 50%;
	width:40px;
	height:40px;
	opacity:1;
	}
.owl-item .item{overflow:hidden;
	border:2px solid transparent;
	
	}
.owl-item .item.active{
	border:2px solid #fff;
	-moz-box-shadow:0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);
	-o-box-shadow:0 0 10px rgba(0,0,0,0.5);
	box-shadow:0 0 10px rgba(0,0,0,0.5);
	}
/**/
#section-fix {
	position:relative}
#section-fix .st-pic{
	position:relative;
	overflow:hidden
	}
#section-fix .st-pic img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-object-fit: cover;
	-moz-object-fit: cover;
	-o-object-fit: cover;
	object-fit: cover;
	}
.formRegister h3{
	font-size:18px;
	margin:0 0 30px 0;
	font-family: 'UTM AvoBold';
	}
.formRegister .btn{
	background:#d30225;
	text-transform:uppercase;
	color:#fff;
	font-size:14px;
	font-family: 'UTM AvoBold';
	}
.formRegister .line{
	margin:15px 0;
	background:url(../img/line-gradient.png) no-repeat 50% 50%;
	height:2px;
	}
#section-fix .inner{
	position: absolute;
	top: 50%;
	left: 0;
	bottom:0;
	right:0;
	margin-top:-190px;
	
	}
#section-fix .text{
	background:rgba(0,0,0,0.4);
	padding:45px;
	width:460px;
	float:right}
#section-fix.section-contact .text{
	float:left}
/*header=================================*/

#header{
	border:none;
	z-index:9999;
	min-height:90px;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	background:#000;
	}
#header .affix{
	left:0;
	right:0;
	top:0;
	z-index:9999;
	min-height:70px;
	background:#000;
	}
#header .affix, #header.open{
	background:#000;
	}
#header .affix .navbar-brand img{
	height:60px;
	}
#header .affix .navbar-collapse{
	margin-top:15px;
	}
.navbar-brand{
	line-height:60px;
	display:block;
	height:auto;
	}
.navbar-brand img{
	float:left;
	margin-right:15px;
	}
.navbar-brand strong{
	font-size:18px;
	}
.navbar-collapse{
	padding-right:0;
	padding-left:0;
	webkit-overflow-scrolling: touch;
    border: none;
	
    -webkit-box-shadow: none;
    box-shadow:none;
	moz-box-shadow:none;
	float:right;
	}
.navbar-nav{margin-top:45px;}
#header .affix .navbar-nav{margin-top:0;}
.navbar-nav>li>a{
	color:#a4a4a4;
	font-size:16px;
	text-align:center;
	outline:none;
	float:left;
	padding:0px 15px;
	line-height:34px;
	text-transform:uppercase;
	font-family: 'UTM AvoBold';
	}
.navbar-nav .active a, .navbar-nav a:hover,  .navbar-nav li a:focus{
	background:none !important;
	color:#fff;
	}

.navbar-nav>li>a.btn{
	background:#009c99!important;
	color:#fff;
	text-transform:uppercase;
	border:none;
	padding:0px 30px;
	line-height:34px;
	}


/**/



	
.container, .row [class*="col-"] {
	padding-left:10px;
	padding-right:10px;
	}
.row{
	margin-right:-10px;
	margin-left:-10px;
	}

/**/	


/**/
.section{
	}
.section .st-hd{
	margin-bottom:45px;
	}
.section .st-hd h3{
	font-size:36px;
	text-transform:uppercase;
	margin-bottom:0;
	padding-bottom:15px;
	line-height:36px;
	color:#3fb0ae;
	letter-spacing: 2px;
	position:relative;
	font-weight:bold;
	}
.section .st-hd h3:before{
	content:"";
	width:80px;
	height:5px;
	background:#3fb0ae;
	position:absolute;
	bottom:0;
	left:0;
	}

.section .st-hd p{
	font-size:15px;
	margin:15px auto;
	line-height:20px;
	max-width:860px;
	}
/**/
.section .st-pic{
	overflow:hidden}

#section1 .inner, #section3 .inner, #section4 .inner, #st-thuonghieu-1 .inner, #st-thuonghieu-2 .inner, #st-thuonghieu-3 .inner{
	position:absolute;
	right:0;
	left:0;
	}
#section1 .inner{
	top:50%;
	bottom:0;
	margin-top:-100px;
	}
#section3 .inner, #section4 .inner, #st-thuonghieu-1 .inner, #st-thuonghieu-2 .inner, #st-thuonghieu-3 .inner{
	bottom:60px;}
#section1 .inner .text, #section3 .inner .text, #section4 .inner .text, #st-thuonghieu-1 .inner .text, #st-thuonghieu-2 .inner .text, #st-thuonghieu-3 .inner .text{
	background:rgba(0,0,0,0.6);
	padding:30px;
	
	}
#section1 .inner .text, #st-thuonghieu-3 .inner .text{
	width:400px;
	float:right
	}
#section3 .inner .text, #section4 .inner .text, #st-thuonghieu-1 .inner .text, #st-thuonghieu-2 .inner .text, #st-thuonghieu-3 .inner .text{
	width:580px;
	}
	
#section2 .btn.dropdown-toggle{
	width:36px;
	height:36px;
	line-height:30px;
	text-align:center;
	font-family: 'UTM AvoBold';
	padding:0;
	color:#fff;
	border:3px solid #fff;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	font-size:20px;
	background:rgba(0,0,0,0.3);
	}
#section2 .dropdown-menu{
	padding:0;
	background:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	-o-box-shadow:none;
	box-shadow:none;
	border:none;
	}
.carousel-control.right, .carousel-control.left{
	height:50px;
	width:30px;
	top:50%;
	margin-top:-25px;
	}
.carousel-control.right{
	background: url(../img/ic_next.png) no-repeat 50% 50%;
	}
.carousel-control.left{
	background: url(../img/ic_prev.png) no-repeat 50% 50%;
	}

/**/



/**/
#footer{
	padding:30px 0;
	font-size:13px;
	}
#footer p {
  margin-bottom: 0;
}

#footer address p {
  margin-bottom: 5px;
}

#footer a {
  color: #fff;
}
#footer ul {
  margin: 30px 0 0 0;
  padding: 0;
  overflow: hidden;
}
#footer li {
  width: 20%;
  float: left;
  margin-bottom: 10px;
  list-style: none;
  font-size:13px;
}


/**/


#thank{
	text-transform:uppercase;
	padding-top:100px;
	padding-bottom:50px;
	}
#thank .inner{
	background:rgba(0,0,0, 0.5);
	color:#fff;
	padding:30px;
	font-size:24px;
	}
#thank .inner .bg{
	background:rgba(0,0,0, 0.5);
	padding:30px;
	border:1px solid #000;
	}


/**/

/**/

@media (max-width: 1199px) {
	
}

@media (max-width: 992px) {
	
	
}

@media (max-width: 767px) {

	#header, #header .affix{
		min-height:56px;
		}

	#header .navbar-brand img, #header .affix .navbar-brand img{
		height:36px;
		}
	#header .affix .navbar-nav{
		margin-top:0;}
	.navbar-collapse{
		float:none !important;
		clear:both;
		}
	.navbar-nav{
		margin:0;
		}
	.navbar-nav>li{
		clear:both;
		float:none;
		margin:5px 0;
		}
	.navbar-nav>li>a{
		float:none;
		display:block;
		float:none !important;
		}

	#section1 .inner, #section3 .inner, #section4 .inner, #st-thuonghieu-1 .inner, #st-thuonghieu-2 .inner, #st-thuonghieu-3 .inner{
		position:static;
		margin:0;
		
		}
	.section .st-pic{
		height:auto !important}
	#section1 .inner .text, #section3 .inner .text, #section4 .inner .text, #st-thuonghieu-1 .inner  .text, #st-thuonghieu-2 .inner  .text, #st-thuonghieu-3 .inner  .text{
		margin:10px 0 45px 0;
		padding:0;
		font-size:14px;
		width:auto;
		float:none;
		}
	#section-fix .inner{
		position:static;margin:0;}
	#section-fix .text{
		width:auto;
		float:none;
		padding:30px 15px;
		}
	.formRegister h3{
		font-size:15px;
		}
	#footer li{
		width:100%;
		float:none;
		}
	


	}
@media (max-width: 460px){

	.zoom {
		-moz-transition: transform .3s;
		-webkit-transition: transform .3s;
		transition: transform .3s;
		-o-transition: transform .3s;
		}
	
	.zoom:hover {
	-moz-transform: scale(1.03);
	-webkit-transform: scale(1.03);
	-o-transform: scale(1.03);
	transform: scale(1.03);
	cursor: pointer;
	z-index: 99999;
	}
}
#container img{
	max-width:100%;
	}
/**/
