a:link,
a:visited {
    text-decoration:none;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
}	

body{
	color:#24272a;
	font-size:16px;
	background:#fff;
	font-family: 'UTMDaxline';
	}
	
a{
	color:#d2b786;
	}
a:hover{
	color:#867351;
	}
#scroll-fix-top{
    width: 100%;
}

#scroll-fix-top.fixed {
    opacity: 0.95;
}

.circle{
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
	}
.radius{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}
.fa-2 {
    font-size: 1.5em;
}
.fa-3 {
    font-size: 4em;
}
.fa-4 {
    font-size: 7em;
}
ul.reset, ol.reset{
	margin:0;
	padding:0;
	}
.navbar-toggle{
	position:absolute;
	top:10px; right:10px;
	margin:0;
	padding:0;
	width:40px;
	height:40px;
	background:url(../img/bar.png) no-repeat 50% 50%;
	}
.navbar-toggle.close{
	background:url(../img/cancel.png) no-repeat 50% 50%;
	}
.btn-submit{
	text-transform:uppercase;
	padding:10px 15px;
	color:#fff;
	background: #872b1c;
	}
.btn-submit:hover{
	color:#fff;
	background: #d94700;
	}
strong, b{
	font-family: 'UTM DaxBold';
	}
a, .btn, button{
	outline:none;
	}
.bgGradient{
	
	background: rgba(113,58,130,1);
	background: -moz-linear-gradient(left, rgba(113,58,130,1) 0%, rgba(198,79,143,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(113,58,130,1)), color-stop(100%, rgba(198,79,143,1)));
	background: -webkit-linear-gradient(left, rgba(113,58,130,1) 0%, rgba(198,79,143,1) 100%);
	background: -o-linear-gradient(left, rgba(113,58,130,1) 0%, rgba(198,79,143,1) 100%);
	background: -ms-linear-gradient(left, rgba(113,58,130,1) 0%, rgba(198,79,143,1) 100%);
	background: linear-gradient(to right, rgba(113,58,130,1) 0%, rgba(198,79,143,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#713a82', endColorstr='#c64f8f', GradientType=1 );
	
	}
.bgGradient-y{
	background: rgba(201,170,93,1);
	background: -moz-linear-gradient(left, rgba(201,170,93,1) 0%, rgba(237,220,167,1) 51%, rgba(201,170,93,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(201,170,93,1)), color-stop(51%, rgba(237,220,167,1)), color-stop(100%, rgba(201,170,93,1)));
	background: -webkit-linear-gradient(left, rgba(201,170,93,1) 0%, rgba(237,220,167,1) 51%, rgba(201,170,93,1) 100%);
	background: -o-linear-gradient(left, rgba(201,170,93,1) 0%, rgba(237,220,167,1) 51%, rgba(201,170,93,1) 100%);
	background: -ms-linear-gradient(left, rgba(201,170,93,1) 0%, rgba(237,220,167,1) 51%, rgba(201,170,93,1) 100%);
	background: linear-gradient(to right, rgba(201,170,93,1) 0%, rgba(237,220,167,1) 51%, rgba(201,170,93,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9aa5d', endColorstr='#c9aa5d', GradientType=1 );


	}
/*header=================================*/

#header{
	border:none;
	z-index:9999;
	min-height:60px;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-moz-box-shadow:0 0 5px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 0 5px rgba(0,0,0,0.3);
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	}
#header .affix{
	left:0;
	right:0;
	top:0;
	z-index:9999;
	min-height:60px;
	-moz-box-shadow:0 0 5px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 0 5px rgba(0,0,0,0.3);
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	}
.navbar-brand{
	padding:10px 0px;
	}
.navbar-collapse{
	padding-right:0;
	padding-left:0;
	webkit-overflow-scrolling: touch;
    border: none;
    -webkit-box-shadow: none;
    box-shadow:none;
	moz-box-shadow:none;
	float:right
	}

.navbar-nav>li>a{
	color:#fff;
	text-align:center;
	outline:none;
	float:left;
	padding:20px 15px;
	font-size:16px;
	font-family: 'UTM DaxBold';
	text-transform:uppercase;
	border-bottom:2px solid transparent;
	}
.navbar-nav .active a, .navbar-nav a:hover,  .navbar-nav li a:focus{
	color:#fff;
	background:none !important;
	border-bottom:2px solid #ec2e70;
	}
.affix .navbar-nav .active a{
	color:#fff}
.navbar-nav li#btnPhone{
	margin-top:15px;
	margin-left:15px;
	}
.navbar-nav li a.btn-phone, a.btn-phone{
	padding:5px 15px;
	border:none;
	color:#594718;
	font-size:16px;
	font-family: 'UTM DaxBold';
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
	box-shadow:0 1px 2px rgba(0,0,0,0.2);
	}
.navbar-nav li a.btn-phone img, a.btn-phone img{
	margin-right:10px;
	}
.navbar-nav li a.btn-phone:hover, a.btn-phone:hover{
	background:#bc9c4d !important;}

/**/

	/**/


.panel-default{
	border:none;
	border-bottom:1px solid #211d70;
	background:none;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;font-size:14px;
	}
.panel-default > .panel-heading{
	border:none;
	padding:0;
	background:none;
	
	}
.panel-default > .panel-heading a{
	color:#211d70;
	outline:none;
	}
.pagination > li > a, .pagination > li > span{
	margin:0 1px;
	padding:10px 15px;
	color:#777;
	border:none;
	background:#fff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	outline:none;
	}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover, #schedule thead th{
	background:#211d71;
	color:#fff;
	}
#inner-scrollbar{padding-right:30px;}
/**/	
#slide-wrap .owl-loaded .owl-prev{
	width:54px;
	background:url(../img/arrow-left.png) no-repeat 10px 50% !important;
	}
#slide-wrap .owl-loaded .owl-next{
	width:54px;
	background:url(../img/arrow-right.png) no-repeat 10px 50% !important;
	}
#slide-wrap{
	position:relative;
	}
#slide-wrap .owl-carousel{
	z-index:9;}
#slide-wrap .formRegister{
	position:absolute;
	z-index:99;
	top:50px;
	right:75px;
	max-width:440px;
	padding:15px 45px;
	-moz-border-radius:30px 0 30px 0;
	-webkit-border-radius:30px 0 30px 0;
	border-radius:30px 0 30px 0;
	opacity:0.97;
	}
#slide-wrap .formRegister .inner{
	opacity:1;
	}
#slide-wrap .formRegister .tl, #formDownload .tl{
	color:#dbc483;
	font-size:20px;
	}
#slide-wrap .formRegister .tl .name, #formDownload .tl .name{
	font-size:30px;
	}
#slide-wrap .formRegister .tl .lg, #formDownload .tl .lg{
	font-size:30px;
	color:#fff;
	}
#slide-wrap .formRegister .tl .fontstyle{
	font-family: 'UTMEdwardianBold';
	font-size:70px;
	margin-top:-35px;
	}
#slide-wrap .formRegister  .form-control{
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	border:none;
	}
#slide-wrap .formRegister .btn{
	-moz-border-radius:15px 0 15px 0;
	-webkit-border-radius:15px 0 15px 0;
	border-radius:15px 0 15px 0;
	font-family: 'UTM DaxBold';
	text-transform:uppercase;
	color:#594718;
	}
#slide-wrap .formRegister-bt{
	max-width:320px;
	margin:30px auto 0 auto;
	color:#dbc483;
	font-size:20px;}
#slide-wrap .formRegister-bt hr{
	margin:5px 0;
	border-top:1px solid #dbc483;
	}
#slide-wrap .formRegister-bt .bank, #slide-wrap .formRegister-bt .redBook{
	padding-left:36px;
	}
#slide-wrap .formRegister-bt .bank{
	background:url(../img/ic_bank.png) no-repeat 0 5px;}
#slide-wrap .formRegister-bt .redBook{
	background:url(../img/ic_sodo.png) no-repeat 0 0;}
#slide-wrap .slide-wrap-bt{
	position:absolute;
	bottom:0;
	right:0;
	left:0;
	height:71px;
	z-index:10;
	background:url(../img/bg_light_sl.png) no-repeat 50% 100% / 100% auto;}
#slide-wrap .owl-dots{
	display:none;
	}
/**/
.section{
	padding-top:30px;
	padding-bottom:30px;
	}
.section .st-hd{
	margin-bottom:30px;
	}
.section .st-hd h3{
	font-size:54px;
	color:#3f3567;
	margin:0 0 15px 0;
	line-height:normal;
	font-family: 'UTMEdwardianBold';
	}
.section .st-hd .line{
	width:150px;
	height:2px;
	margin:0 auto;
	background:#ec2e70}
/**/
#section1 .col-md-3{
	margin-top:15px;
	margin-bottom:15px;
	}
#section1 .col-md-3 p{
	max-width:220px;
	font-size:18px;
	margin:15px auto 0 auto;
	}
#section1 .row, #section3 .container-fluid .row{
	margin-bottom:30px;
	}
.btn-style{
	
	
	text-transform:uppercase;
	font-family: 'UTM DaxBold';
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	padding:5px 30px;
	border:1px solid #d62c59;
	font-size:18px;
	background: rgba(181,23,65,1);
	background: -moz-linear-gradient(left, rgba(181,23,65,1) 0%, rgba(214,44,89,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(181,23,65,1)), color-stop(100%, rgba(214,44,89,1)));
	background: -webkit-linear-gradient(left, rgba(181,23,65,1) 0%, rgba(214,44,89,1) 100%);
	background: -o-linear-gradient(left, rgba(181,23,65,1) 0%, rgba(214,44,89,1) 100%);
	background: -ms-linear-gradient(left, rgba(181,23,65,1) 0%, rgba(214,44,89,1) 100%);
	background: linear-gradient(to right, rgba(181,23,65,1) 0%, rgba(214,44,89,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b51741', endColorstr='#d62c59', GradientType=1 );
	}
.btn-style, .btn-style:hover{color:#fff;
	}
.btn-style:hover{
	background:#b51741}
.pink{
	color:#ec2e70}
#section2{
	background:url(../img/bg_parttent.gif) repeat 50% 50%;
	}
#section2 .col-md-5 p{
	margin-bottom:5px;
	}
#section4 .col-md-6{
	margin-top:15px;
	margin-bottom:15px;
	}
#section5{
	background:#f6f6f6}
#section6{
	padding-bottom:0;
	}
#section6 .bgGradient{
	padding-top:10px;
	padding-bottom:10px;
	color:#fff;
	}
.st6-tl{
	font-size:30px;
	color:#fbce53
	}
.textStyle{
	margin:0;
	line-height:normal;
	font-family: 'UTMEdwardian';
	}
#section6 .col-md-5{
	padding-top:30px;
	}
#section6 .col-md-5.col-md-pull-7 .textStyle{
	font-size:60px;
	}
#section6 .col-md-7>div{
	margin-bottom:10px;
	}
#section6 img{
	width:100%;
	}
#section6 .owl-dots{
	display:none;
	}
#section6 hr{
	border-top:1px dashed #fff;
	}
#section7 .inner{
	padding:30px 30px 15px 30px;
	}
#section7 .inner.bgGray{
	background:#f2f2f2;
	-moz-box-shadow:0 2px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.3);
	box-shadow:0 2px 5px rgba(0,0,0,0.3);
	}
#section7 .inner.bgGray img{
	width:100%;
	}
#section7 .inner h3{
	font-size:24px;
	text-transform:uppercase;
	margin:0 0 15px 0;
	padding-bottom:10px;
	font-family: 'UTM DaxBold';
	}
#section7 .inner.bgGradient h3{
	color:#fbce53;
	border-bottom:1px dashed #fff;
	}
#section7 .inner.bgGray h3{
	color:#3f3567;
	border-bottom:1px dashed #3f3567;
	}
#section7 .inner .item{
	position:relative;
	}
#section7 .inner .item p{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	color:#fff;
	background:#000;
	padding:45px 10px 10px;
	text-transform:uppercase;
	margin:0;
	font-family: 'UTM DaxBold';
	
	background: rgba(207,71,134,0);
	background: -moz-linear-gradient(top, rgba(207,71,134,0) 0%, rgba(130,78,145,0.95) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(207,71,134,0)), color-stop(100%, rgba(130,78,145,0.95)));
	background: -webkit-linear-gradient(top, rgba(207,71,134,0) 0%, rgba(130,78,145,0.95) 100%);
	background: -o-linear-gradient(top, rgba(207,71,134,0) 0%, rgba(130,78,145,0.95) 100%);
	background: -ms-linear-gradient(top, rgba(207,71,134,0) 0%, rgba(130,78,145,0.95) 100%);
	background: linear-gradient(to bottom, rgba(207,71,134,0) 0%, rgba(130,78,145,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf4786', endColorstr='#824e91', GradientType=0 );

	}
#section7 .owl-dots{
	bottom:0;
	width:100%;
	left:0;
	right:0;
	}
#section7 .owl-dot{
	background:#895797;
	border:1px solid #895797;
	width:10px;
	height:10px;
	
	}
#section7 .owl-dot.active{
	background:#fbce53;
	}
#section7 .owl-carousel .owl-stage-outer, #section7 .owl-carousel-rate .owl-stage-outer{
	margin-bottom:30px;
	}
#section7 .inner.bgGradient ul{
	margin:0;
	padding:0;
	}
#section7 .inner.bgGradient li{
	list-style:none;
	overflow:hidden;
	margin-bottom:15px;
	color:#fff;
	}
#section7 .inner.bgGradient li:last-child{
	margin-bottom:0;
	}
#section7 .inner.bgGradient li a{
	color:#fff;
	}
#section7 .inner.bgGradient li img{
	float:left;
	margin-right:15px;
	width:140px;
	margin-bottom:15px;
	}
#section7 .inner.bgGradient li h2{
	font-size:18px;
	margin:0 0 5px 0;
	line-height:normal;
	font-family: 'UTM DaxBold';
	}
#section7 .inner.bgGradient li p{
	font-size:14px;
	margin:0;
	}
#section8{
	background:#e2e9ed;
	}
#section8 .row{
	margin-right:-5px;
	margin-left:-5px;
	}
#section8 .row>div{
	padding-right:5px;
	padding-left:5px;
	}
#section9{
	background:url(../img/bg_dangky.jpg) no-repeat 50% 50% / 100% auto;
	}
#section9 .st-hd p{
	color:#fff;
	margin:0;
	font-size:30px;
	font-family: 'UTM DaxBold';
	}
#section9 .st-hd h3{
	color:#ec2e71;
	font-size:40px;}
#section9 .form-control {
    color: #222;
    padding: 8px;
    height: auto;
    border: 1px solid #fff;
    background: #fff;}
	
#section9 .btn{
	margin-top:30px;
	}
/**/

#footer{
	color:#fff;
	background:#353535;
	padding:30px 0;
	font-size:16px;
	}
#footer p {
	margin-bottom: 0;
}
#footer .social{
	padding-top:15px;
	padding-bottom:15px;
	}
#footer .address p{
	margin-bottom:10px;
	}
#footer .address p img{
	margin-right:15px;
	}
/**/
img{
	max-width:100%}
.modal{
	padding-top:100px;
	}
.modal .modal-header{
	background:#}
.btn-phone.visible-xs, .btn-download{
	position:fixed;
	right:10px;
	bottom:10px;
	}
.btn-download{
	font-family: 'UTM DaxBold';
	font-size:16px;
	color:#222;
	text-transform:uppercase;
	background-image:url(../img/ic_download.png);
	background-position:10px 10px;
	background-repeat:no-repeat;
	padding-left:70px;
	background-color:#d3b871;
	z-index:99;
	}
#thank .st-hd h3{
	color:#fff;
	}
@media (max-width:1336px){
	
	
	}
@media (max-width:768px){
	.navbar-collapse{
		float:none;
		clear:both;
		}
	.navbar-nav>li>a{
		float:none;
		display:block;
		padding:10px 15px;
		}
	#slide-wrap .formRegister{
		position:static;
		-moz-border-radius:0;
		-webkit-border-radius:0;
		border-radius:0;
		padding:15px;
		}
	#slide-wrap .formRegister .tl .lg{
		font-size:24px;
		}
	#slide-wrap .slide-wrap-bt{
		display:none;
		}
	#slide-wrap .formRegister{
		max-width:100%;}
	.section .st-hd h3{
		font-size:36px;
		line-height:normal;
		}
	.btn-style{
		font-size:14px;
		padding:5px 10px;
		}
	#section6 .col-md-5{
		padding-top:15px;
		padding-bottom:45px;
		}
	.st6-tl{
		font-size:24px;
		}
	#section6 .col-md-5.col-md-pull-7 .textStyle{
		font-size:46px;
		}
	#section7 .col-md-6{
		margin-bottom:30px;
		}
	#section7 .inner{
		padding:15px;
		}
	#section7 .inner .item p{
		font-size:13px;
		}
	#section7 .inner.bgGradient li img{
		width:100px;
		}
	#section8 .row>div{
		margin-bottom:5px;
		margin-top:5px;
		}
	#section9{
		background:url(../img/bg_dangky.jpg) no-repeat 50% 50% / auto 100%;
		}
	}

/*owl-carousel*/
.owl-carousel{
	}
.owl-carousel.owl-loaded, .owl-carousel-rate.owl-loaded {
  display: block;
  overflow:hidden;
}
.owl-carousel .owl-stage-outer, .owl-carousel-rate .owl-stage-outer{
  position: relative;
  overflow:hidden;
  /*padding-top:15px;
  padding-bottom:5px;*/
  -moz-transform: translate3d(0px,0,0);
  -webkit-transform: translate3d(0px,0,0);
  transform: translate3d(0px,0,0);
}
.owl-carousel-rate .owl-stage-outer{
	padding-top:60px;
	}
.owl-carousel .owl-item, .owl-carousel-rate .owl-item{
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .item{
	
	}
.owl-carousel .item img{
	-moz-transition: all 300ms ease-out 0s;
	-webkit-transition: all 300ms ease-out 0s;
	transition: all 300ms ease-out 0s;
	width:100%;
}
.owl-theme .owl-controls{
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
.owl-loaded{
	position:relative;
	}
    .owl-loaded .owl-prev, .owl-loaded .owl-next {
	width:44px;
	height:44px;
	position:absolute;
	top: 50%;
	margin-top: -22px;
	text-indent: -1000em;
	background-color:rgba(235, 66, 103, 0.6);
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:24px;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
    }
.owl-loaded .owl-prev{
	left:5px;
	background-image:url(../img/arrow-long-left.png)
	}
.owl-loaded .owl-next{
	right:5px;
	background-image:url(../img/arrow-long-right.png)
	}
#section7 .owl-loaded .owl-prev, #section7 .owl-loaded .owl-next{
	display:none;
	}
.owl-dots {
    text-align: center;
    bottom: 15px;
    left: 25%;
    position: absolute;
}
.owl-dot{
	width:15px;
	height:15px;
	background:#fff;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	margin:0 5px;
	display:inline-block;
	border:2px solid #ddd;
	}
.owl-dot.active{
	background:#333;
	}
	
/**/
#formDownload .modal-content{

	padding:30px 45px;
	-moz-border-radius:45px 10px 45px 10px;
	-webkit-border-radius:45px 10px 45px 10px;
	-moz-border-radius:45px 10px 45px 10px;
	}
#formDownload .tl .lg{
	margin:30px 0;
	}
#formDownload .tl .lg span{
	color:#dbc483;
	}
#formDownload .btn{
	margin-top:30px;
	text-transform:uppercase;
	padding:15px 30px;
	font-family: 'UTM DaxBold';
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.5);
	box-shadow:0 1px 2px rgba(0,0,0,0.5);
	}
#formDownload .form-control{
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	padding:10px 15px;
	height:auto;
	border:none;
	
	}
#formDownload .close{
	position:absolute;
	top:-20px;
	right:-25px;
	color:#fff;
	width:44px;
	height:44px;
	background:url(../img/cancel.png) no-repeat 50% 50% / 24px auto;
	}