@charset "utf-8";
/* CSS Document */

a:link,
a:visited {
    text-decoration:none;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
}	

body{
	color:#704f28;
	font-size:16px;
	background:#fff;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	
a{
	color:#d2b786;
	}
a:hover{
	color:#867351;
	}
#scroll-fix-top{
    width: 100%;
}

#scroll-fix-top.fixed {
    opacity: 0.95;
}

.circle{
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
	}
.radius{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}
.fa-2 {
    font-size: 1.5em;
}
.fa-3 {
    font-size: 4em;
}
.fa-4 {
    font-size: 7em;
}
ul.reset, ol.reset{
	margin:0;
	padding:0;
	}
.navbar-toggle{
	position:absolute;
	top:10px; left:10px;
	margin:0;
	padding:0;
	width:40px;
	height:40px;
	background:url(../img/bar.png) no-repeat 50% 50%;
	}
.navbar-toggle.close{
	background:url(../img/cancel.png) no-repeat 50% 50%;
	}
.btn-submit{
	text-transform:uppercase;
	padding:10px 15px;
	color:#fff;
	background: #872b1c;
	}
.btn-submit:hover{
	color:#fff;
	background: #d94700;
	}
a, .btn, button{
	outline:none;
	}
/*header=================================*/

#header{
	border:none;
	z-index:9999;
	min-height:78px;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	background:#fff;
	}
#header .affix{
	left:0;
	right:0;
	top:0;
	z-index:9999;
	min-height:78px;
	background:#fff;
	-moz-box-shadow:0 0 5px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 0 5px rgba(0,0,0,0.3);
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	}
.navbar-brand{
	padding:15px 0px;
	}
.navbar-collapse{
	margin-top:15px;
	webkit-overflow-scrolling: touch;
    border: none;
    -webkit-box-shadow: none;
    box-shadow:none;
	moz-box-shadow:none;
	}
.navbar-nav{
	margin-left:60px;
	}
.navbar-nav>li{
	margin:0 5px;
	}
.navbar-nav>li>a{
	color:#704f28;
	text-align:center;
	outline:none;
	float:left;
	padding: 0px 20px;
	font-size:16px;
	line-height:36px;
	border:1px solid #d0c7be;
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
	border-radius:35px;
	}
.navbar-nav>li>a.btnPhone{
	border:1px solid #fff;
	padding:5px ;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	line-height:normal;
	}
.navbar-nav .active a, .navbar-nav a:hover,  .navbar-nav li a:focus{
	color:#fff;
	background:#d0c7be !important;
	}
.affix .navbar-nav .active a{
	color:#fff}
#header .container{
	position:relative}
#header .fixtop{
	position:absolute;
	top:22px;
	right:5px;}
#header .fixtop a{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:10px 15px;
	}
#header .fixtop .btnPhone{
	background:#914927;
	color:#fff}
#header .fixtop .btnDangky{
	background:#d4c088;
	color:#704f28}
/**/

/**/
.section{
	padding-top:45px;
	padding-bottom:45px;
	}
.section .st-hd{
	margin-bottom:45px;
	}
.section .st-hd h3{
	font-size:36px;
	margin:0;
	font-family: "TrajanPro-Regular";
	line-height:normal;
	text-transform:uppercase;
	}
.section .st-hd p{
	font-size:15px;
	}
.st-hd .line{
	height:1px;
	max-width:300px;
	margin:15px auto;
	background: #222;
	}
	/**/
#slide, #thank{
	position:relative;
	background-size:cover;
	}


.carousel-indicators{
	}
.carousel-indicators li{
	width:14px;
	height:14px;
	background:;
	
	}
.carousel-indicators .active{
	width:16px;
	height:16px;
	background:#fff;
	}
#formContact{
	padding:0;
	background:url(../img/bg_form.jpg) no-repeat 50% 0;
	-moz-box-shadow:0 0 5px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 0 5px rgba(0,0,0,0.3);
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	}
#formContact .innerForm{
	padding:30px;
	
	}
#formContact h3, #formContact p{
	color:#dab15b;
	}	
#formContact h3{
	color:#704f28;
	font-size:36px;
	margin:0 0 30px 0;
	}
 #formContact form{
	margin:0 auto;
	
	}
#formContact h3, .modal .modal-header{
	text-transform:uppercase;
	text-align:center;
	font-weight:bold;
	}
#formContact .form-control, #formContentContactFooter .form-control{
	border:none;
	background:#fff;
	border:none;
	padding:10px;
	height:auto;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	}
#formContact .btn{
	background:url(../img/bgn_dangky.png) no-repeat 50% 50% / 100% 100%;
	padding:0px;
	height:44px;
	max-width:310px;
	margin:0 auto;
	
	}
/**/
.form-control{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:none;
	background:#f2e0a7;
	}
#section1{
	background:url(../img/bg.jpg) no-repeat 100% 100%;
	}
#video{
	margin:30px auto 60px auto;
	max-width:560px;
	}
#section1 p{
	color:#222;
	}
#section1 p strong{
	color:#704f28}
#section1 h2{
	font-size:24px;
	margin:0 0 10px 0;
	font-weight:bold;
	text-transform:uppercase;
	}
#section2{
	background:url(../img/bg_2.gif) repeat 50% 50%;
	}
#section2 h2{
	font-size:20px;
	margin:15px 0;
	text-transform:uppercase;
	font-family: "TrajanPro-Bold";
	}
#section3 .item img{
	background:url(../img/bg_rate.gif) no-repeat 50% 50% / 100% 100%;
	padding:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	width:100%;
	}
#section3 .text{
	position:relative;
	margin-top:10px;
	margin-right:0px;
	padding:15px 30px;
	text-align:center;
	background:url(../img/bg_cmt.png) no-repeat 50% 50% / 100% 100%;}
#section3 .text .name{
	font-family: 'Conv_UTM Flavour';
	font-size:22px;}
#section3 .text  p{
	font-size:13px;
	}
#section4 .row>div{
	margin-bottom:30px;
	}
#section4 .row .col-md-3{
	margin-bottom:25px;
	}
	
#section5{
	background:#f0ebc6 url(../img/bg_gifbon.png) no-repeat 0 0;
	}
#price{
	max-width:980px;
	margin:0 auto 60px auto;
	background:#fff;
	padding:15px;
	}
#price .inner{
	background:url(../img/bg_price.png) no-repeat 50% 50% / 100% 100%;
	padding:30px 60px;
	}
#price .inner h2{
	margin:0 0 15px 0;
	font-size:22px;
	color:#704f28;
	display:inline-block;
	border-bottom:1px solid #704f28;
	padding-bottom:2px;
	}
#price .inner .border{
	border-right:2px solid #daca99;
	padding-right:30px;
	}
#price .inner .border label{
	width:45px;
	margin:0;
	font-weight:normal;
	}
#price .inner .border strong{
	font-size:20px;
	}
#price .inner .col-sm-4:last-child .border{
	border:none;
	}
/**/
#footer{
	background:#ededed;
	position:relative;
	padding-top:60px;
	}
.logoFt{
	margin-bottom:60px;
	}
#footer .col-sm-4{
	margin-bottom:30px;
	}
#footer h3{
	margin:0 0 15px 0;
	font-size:18px;
	text-transform:uppercase;
	font-weight:bold;
	}
#footer h3 strong{
	font-size:30px;
	}
#footer p{
	margin:0;
	font-size:14px;
	}
#footer p.time{
	font-size:18px;
	}
#footer .copy {
	background:#e3b371;
	padding:10px 0;
	font-size:13px;
	}
/**/
#thanks{
	position:relative;
	height:100%;
	padding:90px 0;
	text-align:center;
	
	}
#thanks .inner{
	border:1px solid #ddb55d;
	padding:30px;
	}
#thanks .text{
	color:#ddb55d;
	border:1px solid #ddb55d;
	padding:30px;
	background:#fff;
	}
#thanks .text{
	font-size:30px;
	}
#thanks .text .logo{
	margin-top:30px;}
/**/
img{
	max-width:100%}
.modal{
	padding-top:100px;
	}
.modal-content{
	background:rgba(255,203,27, 0.8);
	border:3px solid #d8d8da;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	-moz-box-shadow:0 0 8px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 0 8px rgba(0,0,0,0.3);
	box-shadow:0 0 8px rgba(0,0,0,0.3);
	}
.modal .modal-header{
	padding:0;
	border:none;
	margin:30px 0 0 0;
	
	}
.modal .close{
	position:absolute;
	top:-15px;
	right:-15px;
	color:#fff;
	width:30px;
	height:30px;
	display:block;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	background:#001043;
	}
@media (max-width:1336px){
	
	
	}
@media (max-width:768px){
	#header, #header .affix{
		min-height:68px;
		}
	.navbar-brand{
		margin-top:5px;
		margin-left:45px;
		}
	.navbar-brand img{
		width:120px;
		}
	
	.navbar-collapse{
		margin-top:50px;clear:both;
		}
	.navbar-nav{
		float:none;
		text-align:center;
		clear:both;
		margin-left:0;
		margin:15px;
		}
	.navbar-nav li{
		margin-bottom:15px;
		}
	.navbar-nav li, .navbar-nav>li>a{
		float:none;
		display:block;
		}
	.section .st-hd h3{
		font-size:24px;
		}
	#section1 .col-md-3, #section2 .col-md-4, #price .col-md-4, #footer .col-sm-4{
		margin-bottom:30px;
		}
	#price .inner{
		padding:15px;
		}
	#price .inner .border{
		padding:0;
		border:none;
		}
	 #formContact .innerForm{
		 padding:30px 15px;
		 }
	#formContact h3{
		font-size:18px;
		}
	#footer h3, #footer p.time{
		font-size:16px;
		}
	#header .fixtop a{
		padding-right:5px;
		padding-left:5px;
		}
	#thanks .text{
		font-size:14px;
		padding:15px;
		}
	#thanks .inner{
		padding:15px;}
	.owl-loaded .owl-prev{
		left:0 !important;
		}
	.owl-loaded .owl-next{
		right:0 !important;
		}
	}

/*owl-carousel*/
/*owl-carousel*/
.owl-carousel{
	}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel .owl-stage-outer, .owl-carousel-partner .owl-stage-outer{
  position: relative;
  overflow:hidden;
  padding-top:15px;
  padding-bottom:5px;
  -moz-transform: translate3d(0px,0,0);
  -webkit-transform: translate3d(0px,0,0);
  transform: translate3d(0px,0,0);
}
.owl-carousel .owl-item, .owl-carousel-partner .owl-item{
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .item{
	
	}
.owl-carousel .item img{
	-moz-transition: all 300ms ease-out 0s;
	-webkit-transition: all 300ms ease-out 0s;
	transition: all 300ms ease-out 0s;
}
.owl-theme .owl-controls{
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
.owl-loaded{
	position:relative;
	}
.owl-loaded .owl-prev, .owl-loaded .owl-next{
	width:54px;
	height:54px;
	position:absolute;
	top:50%;
	margin-top:-27px;
	text-indent:-1000em;
	}
.owl-loaded .owl-prev{
	left:-50px;
	background:url(../img/prev.png) no-repeat 50% 50%
	}
.owl-loaded .owl-next{
	right:-50px;
	background:url(../img/next.png) no-repeat 50% 50%
	}

.owl-dots{
	text-align:center;
	display:none;
	}
.owl-dot{
	width:15px;
	height:15px;
	background:#fff;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	margin:0 5px;
	display:inline-block;
	border:2px solid #ddd;
	}
.owl-dot.active{
	background:#ba266a;
	}
/**/